{{!-- {{> nav/nav-block search=false post=false user=true signup=false movie=false list=false}} --}}

<div class="container" >
  <header class="create-acct-wrap header-wrap" align="center">
  <h1>Create User</h1>
  <hr>
  <h3 id="create-err-msg"></h3>
 </header>
<form id= "create-form">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputFirst">First Name</label>
      <input type="text" class="form-control" id="inputFirst" placeholder="First name" minlength="1" maxlength="255" required>
    </div>
    <div class="form-group col-md-6">
      <label for="inputLast">Last Name</label>
      <input type="text" class="form-control" id="inputLast" placeholder="Last name" minlength="1" maxlength="255" required>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail">Email</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Email" minlength="1" maxlength="255" required>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="password (8 characters)" minlength="8" maxlength="8" required>
    </div>
  </div>

  <button type="submit" id="add-user" class="btn btn-primary">Submit</button>
  
  

</form>