{{> nav/nav-block search=false post=false user=false signup=false movie=false list=true}}


<h1>Movies</h1>

<div class="container">
  <header align="center" class="header-wrap">
  <h1>My Movies</h1>
  <hr>
</header>


{{#each movies}}
    {{> movie/movie-block}}
{{/each}}
