body {
  background: url("/img/theaterBackground.jpg") repeat center fixed;
  color: white;
  background-size: cover;
  height: 40%;
}

.jumbotron {
  background: rgba(0, 0, 0, 0);
}

.modal {
  color: black;
}

.btn {
  color: white;
  background: #1d2525;
  border: 1px solid white;
}

#user-form,
.header-wrap,
#create-form,
.create-user-wrap {
  padding: 20px;
  border-radius: 15px;
  margin: 20px 0;
}

#update-err-msg,
#movie-err-msg,
#review-err-msg,
#create-err-msg {
  color: red !important;
}

#go-home {
  width: auto;
  height: 65px;
}

.movie,
.container {
  padding-bottom: 2%;
  margin-top: 10%;
  background: rgba(86, 101, 115, 0.6);
  height: 100%;
  border-radius: 0.25rem;
  margin-bottom: 2%;
}

.card-body {
  color: white;
}

.card-img-top {
  width: 70%;
  background: white;
  margin-top: 22px;
}
.card-title {
  font-size: 1.8em;
}

[data-search="true"] {
  color: white !important;
}
[data-post="true"] {
  color: white !important;
}
[data-user="true"] {
  color: white !important;
}
[data-signup="true"] {
  color: white !important;
}
[data-movie="true"] {
  color: white !important;
}
[data-list="true"] {
  color: white !important;
}
.lead {
  font-size: 1.8rem;
  font-weight: 500;
}
.well {
  padding: 1.4%;
}
.userID h2,
.header-wrap h1 {
  text-transform: capitalize;
}
hr {
  background-color: #fff !important;
}
